<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BookMapper">
    <select id="queryBook" resultType="book">
        select * from book limit #{pageNum},#{pageSize}
    </select>


    <insert id="addBook" parameterType="book">
        insert into book (id,name,author) values (#{id},#{name},#{author});
    </insert>

    <delete id="delBook" parameterType="integer">
        delete from book where id = #{id};
    </delete>


    <update id="updateBook" parameterType="book">
        update book
        set name=#{name},author=#{author}
        where id=#{id};
    </update>

</mapper>
